body{
	background-color: #702632;
	box-sizing: border-box;
	margin: 0;
}
.top{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
}
.headd{
	display: grid;
	grid-template-columns: 2fr 1fr;
	background-color: #ddd;
	text-align: center;
	grid-gap: 1em;
	border: 5px solid black;
}
.head{
	display: grid;
	grid-template-columns: 2fr 1fr;
	background-color: #ddd;
	grid-gap: 1em;
	border: 5px solid black;
	margin-left: 10%;
	margin-right: 10%;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav {
    overflow: hidden;
    background-color: #333;
	border: 5px solid black;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.content{
	padding-top: 200px;
	background-color: #eee;
	border: 5px solid black;
	margin: 0;
	margin-left: 10%;
	margin-right: 10%;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}
.offer{
	padding: 20px;
	background-color: #eee;
}
.offer h1{
	background-color: #D46A6A;
	border: 5px solid black;
}
.contact{
	text-align: center;
	background-color: #eee;
}
.mySlides{
	width: 100%;
	height: 400px;
}
.w3{
	text-align: center;
	color: black;
}
.gallery{
	background-color: #DDD;
	display: block;
    	margin-left: auto;
    	margin-right: auto;
}
.doors{
	margin-left: 20%;
	margin-right: 20%;
	background-color: #eee;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	border: 5px solid black;
	display: grid;
	grid-template-columns: 2fr 1fr;
}
.doors h1{
	text-align: center;
}
.pic{
	width: 250px;
	height: 200px;
}
.pics img{
	float: left;
}
.footer{
	background-color: #ddd;
	text-align: center;
	border: 5px solid black;
}
.divider{
	padding-top: 200px;
}
.cont{
	margin-left: 20%;
	margin-right: 20%;
	background-color: #eee;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	border: 5px solid black;
	text-align: center;
}
.test{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: #ddd;
	grid-gap: 1em;
	border: 5px solid black;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
}
.main{
	margin-left: 20%;
	margin-right: 20%;
	background-color: #eee;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	border: 5px solid black;
}
.rep{
	background-color: #ddd;
	border: 5px solid black;
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.rep h1{
	text-align: center;
}
